<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xlmns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" type="text/css"	th:href="@{/stylesheets/pesquisa-vinhos.css}" />
</head>
<body>
	<section layout:fragment="conteudo">
	
		<div class="page-header">
			<div class="container-fluid">
				<h1>Pesquisa de vinho</h1>
			</div>
		</div>
	
		<div class="container-fluid">
		
		<div class="alert  alert-success " role="alert"	th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>
	
			<form method="GET" class="form-vertical  js-form-loading" th:object="${vinhoFilter}" >
			
				<div class="form-group">
					<div class="input-group">
						<input id="nome" type="text" class="form-control" th:field="*{nome}" placeholder="Pesquise pelo nome" />
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>						
				</div>			
	
			</form>
			
			<div class="table-responsive">            
			  <table class="table table-hover">
			    <thead>
			      <tr>
			        <th class="av-table-vinho-col-codigo">Codigo</th>
			        <th class="av-table-vinho-col-nome">Nome</th>
			        <th class="av-table-vinho-col-tipo">Tipo</th>
			        <th class="av-table-vinho-col-preco">Preço</th>
			        <th class="av-table-vinho-col-icons" sec:authorize="hasRole('ROLE_CADASTRAR_VINHO')"></th>
			        <th class="av-table-vinho-col-icons" sec:authorize="hasRole('ROLE_CADASTRAR_VINHO')"></th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr th:each="vinho : ${vinhos}">
			      	<td th:text="${vinho.codigo}" class="text-center" ></td>
			        <td th:text="${vinho.nome}" ></td>
			        <td th:text="#{|tipoVinho.${vinho.tipo}|}" ></td>
			        <td th:text="|R$${{vinho.valor}}|" class="text-right" ></td>
			        <td class="text-center" sec:authorize="hasRole('ROLE_CADASTRAR_VINHO')">
			        	<a th:href="@{/vinhos/{codigo}(codigo=${vinho.codigo})}">
			        		<i class="fa fa-pencil" style="cursor:pointer"></i>
			        	</a>
			        </td>
			        <td class="text-center" sec:authorize="hasRole('ROLE_CADASTRAR_VINHO')">				  					       
				    	<i class="fa fa-trash" style="cursor:pointer" data-toggle="modal"
				    	data-target="#confirmaExclusaoModal" data:nome="${vinho.nome}"
				    	data:url-delete="@{/vinhos/{codigo}(codigo=${vinho.codigo})}"></i>
				    </td>				        
			      </tr>	
			      <tr th:if="${vinhos.empty}">
			      	<td colspan="5">Nenhum vinho cadastrado</td>
			      </tr>		
			    </tbody>
			  </table>
			</div>
			
		</div>
		
		<div class="modal fade" tabindex="-1" role="dialog" id="confirmaExclusaoModal">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		    <form th:action="@{/vinhos}"  method="POST">
		    <input type="hidden" name="_method" value="DELETE" />
		    	<div class="modal-header">
		    		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    			<span aria-hidden="true">&times;</span>
		    		</button>
		    		<h4 class="modal-title" id="myModalLabel">Excluir vinho</h4>
		    	</div>
		    	<div class="modal-body">
		    		<span>Tem Certeza?</span>
		    	</div>
		    	<div class="modal-footer">
		    		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		    		<button type="submit" class="btn btn-primary">Excluir</button>
		    	</div>
		    </form>
		      
		    </div>
		  </div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/excluir-vinho-modal.js}"></script>
	</th:block>

</body>
</html>